body {
   font-family: Arial, Helvetica, sans-serif;
   color: #0e0620;
   background-color: #fff;
}
main {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60px;
   width: 99vw;
   height: 99vh;
}
.image {
   width: 400px;
}
.content {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.error {
   font-size: 120px;
   font-weight: 700;
}
.message {
   font-size: 32px;
   font-weight: 700;
}
.button {
   border: 3px solid #2ccf6d;
   background-color: #fff;
   font-size: 16px;
   font-weight: bolder;
   border-radius: 20px;
   width: 160px;
   height: 40px;
}